<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Volunity"
        tools:targetApi="31">
        <activity
            android:name=".Activities.VolunteerActivity2"
            android:exported="false" />
        <activity android:name=".Activities.DetailActivity" />
        <activity
            android:name=".Activities.HomeVolunteerActivity"
            android:exported="false"
            android:theme="@style/Theme.Volunity" />
        <activity
            android:name=".Activities.VolunteerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SetRoleActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Landing.Landing3Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Landing.Landing2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Landing.Landing1Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DetailProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.AddActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>